*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.audio-player {
    position: relative;
    z-index: 1;
}

.track-name {
    color: #fff;
}

.playlist-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.is-playing {
    font-weight: bold;
    color: #00ff40a9;
}